@import 'src/app/style/constant'
@import 'src/app/style/color'

\:host
  display: grid
  grid-template-columns: 1fr auto
  grid-template-rows: auto auto
  grid-gap: 4px

  padding: 10px

  cursor: pointer

  &:hover
    background: $light

  & > *
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  .from
    grid-column: 1/2
    grid-row: 1/2

    font-size: $font-size-smaller

  .subject
    grid-column: 1/3
    grid-row: 2/3

    font-size: $font-size-smaller
    font-weight: 500

  .date
    grid-column: 2/3
    grid-row: 1/2
    justify-self: end

    font-size: $font-size-smaller
