@import 'src/app/style/constant'
@import 'src/app/style/color'

.folder
  display: flex
  flex-direction: column

  margin-left: 10px
  padding: 4px 0

  cursor: pointer

  &:hover
    background: $light

  .heading
    display: flex
    align-items: center

    fa-icon
      margin-right: 5px
      color: $gray
      transition: transform 100ms linear

    .rotated
      transform: rotate(90deg)

.with-children
  &:hover
    background: transparent

