@import 'src/app/style/color'
@import 'src/app/style/constant'

\:host
  display: flex
  align-items: center
  justify-content: space-between

  padding: 10px

  cursor: pointer

  &:hover
    background: $light

  p
    font-size: $font-size-big
    font-weight: 600
